<p id="notice"><%= notice %></p>

<p>
  <strong>Calificacion:</strong>
  <%= @score.calificacion %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @score.subject %>
</p>

<p>
  <strong>Bimester:</strong>
  <%= @score.bimester %>
</p>

<p>
  <strong>Student:</strong>
  <%= @score.student %>
</p>

<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
