<p id="notice"><%= notice %></p>

<h1>Bimesters</h1>

<table>
  <thead>
    <tr>
      <th>Bimestre</th>
      <th>Period</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bimesters.each do |bimester| %>
      <tr>
        <td><%= bimester.bimestre %></td>
        <td><%= bimester.period %></td>
        <td><%= link_to 'Show', bimester %></td>
        <td><%= link_to 'Edit', edit_bimester_path(bimester) %></td>
        <td><%= link_to 'Destroy', bimester, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bimester', new_bimester_path %>
