<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <p id="notice"><%= notice %></p>        
            <div class="col-lg-12">
                <h1>Grupos</h1>                
                <div class="card">
                    <div class="card-header">
                        <%= link_to 'Nuevo Grupo', new_group_path, class: "btn btn-primary" %>
                    </div>
                    <div class="card-block">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Grupo</th>
                                    <th>Grado</th>
                                    <th>Periodo</th>                                    
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% count = 0 %>
                                <% @groups.each do |group| %>
                                <tr>
                                    <td><%= count += 1%></td>
                                    <td><%= group.grupo %></td>
                                    <td><%= Grade.find(group.grade_id).grado %></td>
                                    <td><%= Period.find(group.period_id).periodo %></td>                                                                    
                                    <td><%= link_to group do %>
                                        <button class="btn btn-success"><i class=" fa fa-check"></i></button>
                                        <% end %>
                                    </td>
                                    <td><%= link_to edit_group_path(group) do %>
                                        <button class="btn btn-primary"><i class="fa fa-pencil"></i></button>
                                        <% end %>
                                    </td>
                                    <td><%= link_to group, method: :delete, data: { confirm: '¿Estas seguro?' } do %>
                                        <button class="btn btn-danger"><i class="fa fa-trash-o "></i></button>
                                        <% end %>
                                    </td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
