<div class="container-fluid">
     <div class="animated fadeIn">
         <div class="row">
            <p id="notice"><%= notice %></p>
         </div>
         <div class="row">            
            <div class="col-sm-4 col-md-12">
                <div class="card card-inverse card-primary text-xs-center">
                    <div class="card-blockquote">
                        <p>
                            <strong>Grupo:</strong>
                            <%= @group.grupo %>
                        </p>
                        <p>
                            <strong>Grado:</strong>
                            <%= Grade.find(@group.grade_id).grado %>
                        </p>

                        <p>
                            <strong>Ciclo Escolar:</strong>
                            <%= Period.find(@group.period_id).periodo %>
                        </p>
                    </div>
                </div>
            </div>            
         </div>
         <div class="row">            
            <div class="col-lg-12">                              
                <div class="card">
                    <div class="card-header">
                        Lista de alumnos
                    </div>
                    <div class="card-block">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>Matricula</th>
                                    <th>Nombre</th>
                                    <th>Apellido Paterno</th>
                                    <th>Apellido Materno</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @group.students.each do |student| %>
                                <tr>
                                    <td><%= student.matricula %></td>
                                    <td><%= student.nombre %></td>
                                    <td><%= student.apellido_paterno %></td>
                                    <td><%= student.apellido_materno %></td>                                
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>










