<p id="notice"><%= notice %></p>

<p>
  <strong>Grupo:</strong>
  <%= @group.grupo %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @group.grade %>
</p>

<p>
  <strong>Period:</strong>
  <%= @group.period %>
</p>

<% @group.students.each do |student| %>
    <%= student.nombre %><br>
<%end%>
<br>
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
